* {
   font-family: 'Ubuntu', sans-serif;
   margin: 0;
}

.header {
  background-color: #3eb486;
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-logo {
   font-size: 36px;
   float: left;
   padding: 20px 40px;
   color: #f2f2f2;
}

li {
   list-style: none;
   float: left;
   padding: 33px 20px;
}

.header-list a {
   text-decoration: none;
   color: #f2f2f2;
}


.main {
  background-color: #3eb486;
  color: #f2f2f2;
  height: auto;
  padding: 20px 80px;
}

.copy-container {
   margin-top: 100px;
   text-align: center;
}

.copy-container h1 {
   font-size: 80px;
   font-weight: normal;
}

.copy-container h2 {
   font-size: 36px;
   font-weight: normal;
}

.contents {
   height: 400px;
   margin-top: 20px;
   text-align: center;
   flex-wrap: wrap;
}

.content-title {
   border-bottom: 2px solid #dee7ec;
   font-size: 28px;
   padding-bottom: 15px;
   margin-bottom: 50px;
}

.content-items {
   float: left;
   margin-right: 54px;
   text-align: center;
}

.content-items p {
  font-size: 22px;
  margin-top: 30px;
  text-align: center;
}

.img {
   border-radius: 50%;
}


.main-dua {
  background-image: url(wp2.jpg);
  background-size: cover;
  background-position: left;
  color: #f2f2f2;
  height: auto;
  padding: 20px 80px;
}


.main-tiga {
  background-image: url(wp.jpg);
  background-position: center;
  background-size: cover;
  height: 380px;
  color: #f2f2f2;
  padding: 100px 80px;
  opacity: 0.9;
}

.contents-dua {
   height: 350px;
   margin-top: 100px;
}

.content-title-dua {
   border-bottom: 2px solid #dee7ec;
   font-size: 28px;
   padding-bottom: 15px;
   margin-bottom: 50px;
}

.content-items-dua {
   float: left;
   margin-right: 40px;
}

.content-items-dua p {
  font-size: 22px;
  margin-top: 30px;
  text-align: center;
}

/* footer */

.footer {
  background-color: #3eb486;
  color: #fff;
  height: 60px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: auto;
}
