body {
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    color: #2d2d2d;
}

.card-1 {
    padding: 10px 10px 10px 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-2 {
    padding: 10px 10px 10px 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 50px; /* Added */
}

.card2 {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 5px; /* Added */
}

.card-3 {
    padding: 10px 10px 10px 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card3 {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 50px; /* Added */
}

.card-header {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
}

.input-group-text {
    color: #ffffff;
    background-color: #585757;
}

/* Menyembunyikan panah input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@media only screen and (max-width: 600px) {
    .card-1 {
        padding: 10px 10px 10px 10px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-top: 30px; /* Added */
    }

    .card-2 {
        padding: 10px 10px 10px 10px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    .card2 {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-top: 3px; /* Added */
    }

    .card-3 {
        padding: 10px 10px 10px 10px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    .card3 {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-top: 3px; /* Added */
    }
}