body {
  background-color:#fff;
}
h1 {
  font-size: 32px;
  font-family: fantasy;
}
h2 {
  font-size: 17px;
  font-family: fantasy;
  color: #000000;
}
h3 {
  font-size: 17px;
  font-family: fantasy;
  color: #000;
}
table {
  border-radius: 10px;
}
